.link {text-decoration: none;}
.list {list-style-type: none;}
.button {cursor: pointer;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
    color: #ffffff
    }
.button:hover, .button:focus {
        background: var(--ocean, #404BBF);
    
}
body {font-family: 'Roboto', sans-serif;
letter-spacing: 0.02em;
color: #434455;
background-color:#FFFFFF;
}
.main-header {
    background: var(--white, #FFF);
}
.logotype {color: var(--iris, #4D5AE5);
font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;}
   
.text {
    color: var(--navyblue, #2E2F42);
    font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
       
    
.menu-link {color: var(--navyblue, #2E2F42);
    /* Body Medium */
font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;}
    .menu-link:focus, .menu-link:hover {
      color:#404BBF ;  
    }
.address-list {
    font-style: normal
}
.address-link {color: var(--slate, #434455);
        /* Body */
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;}
.address-link:focus, .address-link:hover {color:#404BBF;}
.title-one {
    color: var(--white, #FFF);
        text-align: center;
        /* Header 1 */
        font-family: 'Roboto', sans-serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        /* 107.143% */
        letter-spacing: 0.02em;
}
.section-one {
    background-color:var(--navyblue, #2E2F42);;
}
.title-three {
    color: var(--navyblue, #2E2F42);
        /* Header 3 */
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}
.section-two {
    background-color: #FFFFFF
}
.section-two-text {
    color: var(--slate, #434455);
        /* Body */
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        
}
.title-two {
    color: var(--navyblue, #2E2F42);
        text-align: center;
        /* Header 2 */
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.section-three {
    background-color: #FFFFFF
}
.title-section-three {
color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Header 3 */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
}
.section-three-text {
color: var(--slate, #434455);
    text-align: center;
    /* Body */
font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}
.images-three {
background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}
.section-three{
    background: var(--cloud, #F4F4FD)
}
.images-four {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.footer-main {
    background: var(--navyblue, #2E2F42);
}
.footer-logotype {
color:var(--cloud, #F4F4FD);
font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logotype-footer {
    color: var(--iris, #4D5AE5);
font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;}

.footer-text {
color: var(--cloud, #F4F4FD);

    /* Body */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
        }
        
